
.message-text {
	font-size: var(--font-size-base);
	line-height: var(--line-height-normal);
	color: var(--color);
}

.formatted-body h1,
.formatted-body h2,
.formatted-body h3,
.formatted-body h4,
.formatted-body h5,
.formatted-body h6 {
	margin-top: var(--space-3);
	margin-bottom: var(--space-2);
	color: var(--headings-color);
	font-weight: var(--font-weight-bold);
}

.formatted-body h1 { font-size: var(--font-size-2xl); }
.formatted-body h2 { font-size: var(--font-size-xl); }
.formatted-body h3 { font-size: var(--font-size-lg); }
.formatted-body h4 { font-size: var(--font-size-base); }
.formatted-body h5 { font-size: var(--font-size-sm); }
.formatted-body h6 { font-size: var(--font-size-xs); }

.formatted-body p {
	margin-bottom: var(--space-2);
}

.formatted-body ul,
.formatted-body ol {
	margin-bottom: var(--space-2);
}

.formatted-body blockquote {
	border-left: 3px solid var(--primary-color);
	margin: var(--space-1) 0;
	padding: var(--space-2) var(--space-4);
	p:first-child {
    	margin-block-start: 0;
	}
	p:last-child {
    	margin-block-end: 0;
	}
	font-style: italic;

	background-color: color-mix(in srgb, var(--primary-color) 10%, transparent 90%);
}

.formatted-body code {
	font-family: var(--font-family-mono);
	font-size: var(--font-size-sm);
	background-color: var(--card-hover-bg);
	padding: var(--space-1);
	border-radius: 3px;
}

.formatted-body pre {
	width: 100%;
	max-height: max(50vh, 400px);

	overflow: auto;

	font-family: var(--font-family-mono);
	font-size: var(--font-size-sm);
	background-color: var(--card-bg);
	border: 1px solid var(--gray-light);
	border-radius: var(--space-1);
	padding: var(--space-3);
	margin: var(--space-2) 0;
}

.formatted-body pre code {
	background: none;
	padding: 0;
}


.formatted-body strong,
.formatted-body b {
	font-weight: var(--font-weight-bold);
}

.formatted-body em,
.formatted-body i {
	font-style: italic;
}


.formatted-body {
    span[data-mx-color] {
		color: attr(data-mx-color type(<color>));
	}
}
