<div class="sender-avatar avatar-container {{ self::get_avatar_color_class(event.sender.as_str()) }}" role="img" aria-label="Avatar for {{ event.sender.as_str() }}">
    {% if let Some(profile) = event.sender_profile %}
        {% if let Some(avatar_url) = profile.avatar_url %}
            <img class="avatar avatar-image"
                 src="/media/plain/thumbnail:100x100/{{ avatar_url.to_string() | urlencode_strict }}"
                 alt="{{ self::user_initials(event.sender.as_str(), profile.display_name.as_deref()) }}"
                 loading="lazy">
        {% else %}
        {{ self::user_initials(event.sender.as_str(), profile.display_name.as_deref()) }}
        {% endif %}
    {% else %}
        {{ self::user_initials(event.sender.as_str(), None) }}
    {% endif %}
</div>
<div class="sender-profile">
    {% if let Some(profile) = event.sender_profile %}
        <div class="sender-name">
            {% if let Some(display_name) = profile.display_name %} {{ display_name }}
            {% else %} {{ event.sender.as_str() }} {% endif %}
        </div>
    {% else %}
        <div class="sender-name no-profile">
            {{ event.sender.as_str() }}
        </div>
    {% endif %}
    <time class="profile-timestamp" datetime="{{ self::timestamp_to_string(event.timestamp) }}">{{ self::timestamp_to_format_string(event.timestamp) }}</time>
</div>
<div class="event-content state-event">
    {% match **state_event %}
        {% when AnyStateEvent::RoomMember(sync_room_member_event) %}
            {% match sync_room_member_event %}
                {% when StateEvent::Original(sync_room_member_event) %}
                    <div class="membership-text plaintext-body">
                        {{ self::render_member_event(&sync_room_member_event) }}
                    </div>
                {% when StateEvent::Redacted(sync_room_member_event) %}
                    <div class="membership-text plaintext-body">
                        {{ format!("{:?}", sync_room_member_event) }}
                    </div>
            {% endmatch %}
        {% else %}
             <details class="unsupported-event"">
                 <summary class="unsupported-event-summary">
                     <span aria-hidden="true">⚠️</span> Unsupported state event type for key {{ state_event.state_key() }}
                 </summary>
                 <pre class="unsupported-event-content">{{ format!("{:?}", state_event) }}</pre>
             </details>
    {% endmatch %}
    <time class="timestamp-trailing" datetime="{{ self::timestamp_to_string(event.timestamp) }}">{{ self::timestamp_to_format_string(event.timestamp) }}</time>
</div>
