<div class="timeline-event{% if event.same_sender %} same-sender{% endif %}"
         data-raw-event-content="{{ event.raw_content }}"
         data-event-id="{{ event.event_id }}"
         id="event-{{ event.event_id }}"
         data-hidden-event="{{ event.is_hidden_event() }}"
         aria-label="Message from {{ event.sender.as_str() }}">
    {% match event.content %}
        {% when TimelineItemContent::MsgLike(msg_like_content) %}
            {% set message_like_event = msg_like_content %}
            {% include "event_messagelike.html.j2" %}
        {% when TimelineItemContent::StateEvent(other_state_content) %}
            {% set state_event = other_state_content %}
            {% include "event_state.html.j2" %}
        {% when TimelineItemContent::FailedToParseMessageLike { error } %}
            <div class="small-event bad-event">Bad event (FailedToParseMessageLike): {{error}}</div>
        {% when TimelineItemContent::FailedToParseState { event_type, state_key, error } %}
            <div class="small-event bad-event">Bad event (FailedToParseState {{ event_type }} for {{ state_key }}): {{error}}</div>
    {% endmatch %}
</div>
{# {% match event.content %}
    {% when TimelineItemContent::MsgLike(msg_like_content) %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}" data-sender="{{ msg_like_content.sender.as_str() }}">
            {% set message_like_event = msg_like_content %}
            {% include "event_messagelike.html.j2" %}
        </div>
    {% when TimelineItemContent::StateEvent(other_state_content) %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}" data-sender="{{ event.sender.as_str() }}">
            {% set state_event = other_state_content %}
            {% include "event_state.html.j2" %}
        </div>
    {% when TimelineItemContent::FailedToParseMessageLike { event_type, error } %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}">
            <div class="small-event bad-event">Bad event (FailedToParseMessageLike {{ event_type }}): {{error}}</div>
        </div>
    {% when TimelineItemContent::FailedToParseState { event_type, state_key, error } %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}">
            <div class="small-event bad-event">Bad event (FailedToParseState {{ event_type }} for {{ state_key }}): {{error}}</div>
        </div>
{% endmatch %} #}
