{{ event.raw.get() }}
{# {% match event.content %}
    {% when TimelineItemContent::MsgLike(msg_like_content) %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}" data-sender="{{ msg_like_content.sender.as_str() }}">
            {% set message_like_event = msg_like_content %}
            {% include "event_messagelike.html.j2" %}
        </div>
    {% when TimelineItemContent::OtherState(other_state_content) %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}" data-sender="{{ event.sender.as_str() }}">
            {% set state_event = other_state_content %}
            {% include "event_state.html.j2" %}
        </div>
    {% when TimelineItemContent::FailedToParseMessageLike { event_type, error } %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}">
            <div class="small-event bad-event">Bad event (FailedToParseMessageLike {{ event_type }}): {{error}}</div>
        </div>
    {% when TimelineItemContent::FailedToParseState { event_type, state_key, error } %}
        <div class="timeline-event" data-raw-event="{{ event.raw | json }}" data-event-id="{{ event.event_id }}" id="event-{{ event.event_id }}">
            <div class="small-event bad-event">Bad event (FailedToParseState {{ event_type }} for {{ state_key }}): {{error}}</div>
        </div>
{% endmatch %} #}
