<div class="sender-profile">
    {% if let Some(profile) = members.get(event.sender) %}
        <div class="sender-name">
            {% if let Some(display_name) = profile.display_name() %} {{ display_name }}
            {% else %} {{ profile.user_id().as_str() }} {% endif %}
        </div>
    {% else %}
        <div class="sender-name no-profile">
            {{ event.sender.as_str() }}
        </div>
    {% endif %}
    <time class="profile-timestamp" datetime="{{ self::timestamp_to_string(event.timestamp) }}">{{ self::timestamp_to_format_string(event.timestamp) }}</time>
</div>
<div class="event-content state-event">
    {% match state_event.content %}
        {% when AnyStateEventContent::RoomMember(sync_room_member_event) %}
            <div class="membership-text plaintext-body">
                Changed the membership of {{ state_event.state_key }} to {{ sync_room_member_event.membership.as_str() }}.
            </div>
        {% when AnyStateEventContent::RoomName(room_name_event) %}
            <div class="state-event-text plaintext-body">
                Room name changed to: {{ room_name_event.name().unwrap_or("[no name]") }}
            </div>
        {% when AnyStateEventContent::RoomTopic(room_topic_event) %}
            <div class="state-event-text plaintext-body">
                Room topic changed to: {{ room_topic_event.topic }}
            </div>
        {% else %}
             <div class="unsupported-event">Unsupported state event type for key {{ state_event.state_key }}. Content: {{ state_event.content._to_string() }}</div>
    {% endmatch %}
    <time class="timestamp-trailing" datetime="{{ self::timestamp_to_string(event.timestamp) }}">{{ self::timestamp_to_format_string(event.timestamp) }}</time>
</div>