{% match event.kind %}
    {% when TimelineEventKind::PlainText { event: event_content_raw } %}
    <div class="timeline-event" data-raw-event="{{ event.raw().json() | json }}" {% match event.event_id() %}{% when Some(id) %} data-event-id="{{ id }}"{% when None %} data-event-no-id{% endmatch %}>
        {% match event_content_raw.deserialize() %}

            {% when Ok(event_content) %} 
                {% match event_content %}
                    {% when AnySyncTimelineEvent::MessageLike(message_like_event) %}
                        {% include "event_messagelike.html.j2" %}
                    {% when _ %} <div class="small-event unsupported-event"> Unsupported message type {{ event_content.event_type() }} </div>
                {% endmatch %}
                            
            {% when Err(err) %} <div class="small-event bad-event">Bad event {{err}}</div>
        {% endmatch %}
    

    </div>
    {% when _ %} Non-Plaintext Event
{% endmatch %}